name: Prettifying

on:
  pull_request:
    branches: [main]

permissions:
  contents: write

jobs:
  prettier:
    name: Check coding style
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: '24.x'
      - name: Install dependencies
        run: npm install
      - name: Run Prettifying script
        run: npm run format